.et-form {
	width: 100%;
}

.et-form .fields input,
.et-form .fields textarea {
	display: block;
	margin-bottom: 25px;
	width: 100%;
}

.et-form .fields input.button.submit {
	height: 44px;
	background: #000;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
}

.warning {
	display: block;
	width: 100%;
	background: #fff4c8;
	padding: 5px;
}

/* First breakpoint */
@media ( min-width: 321px ) {
	/* greater than */
	.et-form .fields input,
	.et-form .fields textarea {
		max-width: 100%;
	}
}

@media ( min-width: 640px ) {
	/* dat second break */
	.et-form .fields input.button.submit {
		float: right;
		width: 50%;
	}
}

@media ( min-width: 1025px ) {
	/* dat third break */
}
